@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #ffffff;
  --foreground: #2D3249;
  --background-secondary: #2D3249;
  
  /* Colores personalizados */
  --color-primary: #EB3B5E;
  --color-secondary: #54595F;
  --color-text: #7A7A7A;
  --color-accent: #61CE70;
  --color-5f254d4: #FFAA4D;
  --color-3411872: #25293C;
  --color-dee4406: #EB3B5E;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-montserrat);
  --font-figtree: var(--font-figtree);
  
  /* Colores personalizados para Tailwind */
  --color-primary: #6EC1E4;
  --color-secondary: #54595F;
  --color-text: #7A7A7A;
  --color-accent: #61CE70;
  --color-orange: #FFAA4D;
  --color-dark: #25293C;
  --color-pink: #EB3C62;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: var(--font-montserrat), sans-serif;
}

/* Clases de utilidad para fuentes */
.font-figtree {
  font-family: var(--font-figtree), sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

/* Clases de utilidad para colores personalizados */
.text-custom-text {
  color: var(--color-text);
}

.text-custom-primary {
  color: var(--color-primary);
}

.text-custom-accent {
  color: var(--color-accent);
}

.text-custom-secondary {
  color: var(--color-secondary);
}

.bg-custom-primary {
  background-color: var(--color-primary);
}

.bg-custom-accent {
  background-color: var(--color-accent);
}

.border-custom-primary {
  border-color: var(--color-primary);
}

.bg-custom-primary-light {
  background-color: rgba(110, 193, 228, 0.1);
}

input, textarea, button {
  outline: none;
}

.select:focus, .select:focus-within {
  outline: none;
  outline-offset: 2px;
  isolation: isolate;
}